@tailwind base;
@tailwind components;
@tailwind utilities;

.section-home {
  background-image: linear-gradient(
      0deg,
      #0000006e 0%,
      rgba(0, 0, 0, 0.4) 50.77%
    ),
    url("./images/main-bg-img.jpg");
  height: 100vh;
  z-index: -1;
  position: relative;
}
.nav-item{
  cursor: pointer;
}
.nav-item:hover:after {
  left: 0;
  width: 100%;
}
.nav-item:after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: all 0.32s ease-out;
}
html body {
  font-family: sans-serif;
}
.h-screen-header {
  height: calc(100vh - 80px);
}
.big-text-shadow {
  text-shadow: 0.1em 0.1em 0 hsl(200deg 16.19% 48.51% / 73%);
}

.btn-thar:before {
  background: linear-gradient(180deg, #7e7873 0%, #7f7e7f 100%);
  border: 3px solid gray;
  transform: skew(-14deg, 0deg);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  right: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-thar:after {
  position: absolute;
  content: "";
  right: -5px;
  top: 0;
  bottom: 0;
  background-color: #ce0e2d;
  width: 2px;
  height: auto;
  -ms-transform: skew(-14deg, 0deg);
  -webkit-transform: skew(-14deg, 0deg);
  transform: skew(-14deg, 0deg);
}
.btn-transparent::before {
  border: 2px solid white !important;
  background: transparent !important;
  z-index: 1 !important;
}
.home-container {
  overflow: hidden;
}
/* Define the fade-in animation */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Define the zoomIn animation */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 1s ease;
}

.fade-in-left {
  animation: fadeInLeft 1s ease;
}

.explore-section,
.gallery-section {
  background-color: #191919;
}
.explore-section:before {
  background-image: url("./images/explore-bg.png");
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  content: "";
}
.section-header::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: #ce0e2d;
  width: 2px;
  height: 20px;
  margin-right: 10px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.img-fit {
  height: -webkit-fill-available!important;
  width: -webkit-fill-available!important;
}
.height-fit{
  height: -webkit-fill-available!important;
}
.h-450px{
  height: 450px!important;
}
.border-gray{
  border-color: #76787a!important;
}